:root {
  --main-bg-color: #f3f3f3;
  font-family: 'Roboto Mono', monospace;
}
body {
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

#div-gui {
  font-size: 15px;
  position: absolute;
  z-index:1;
  margin: 20px;

  .div-gui-box {
    margin-top: 10px;
    display: inline-block;
    overflow-y: auto;
    width: 450px;
    margin: 5px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 5px;
    border-radius: 5px;
    background-color: rgb(229, 229, 229, 0.2);

    .div-button-tab {
      display: flex;
      column-gap: 0px;
      width: 450px;
      padding-bottom: 15px;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }
    .button-tab {
      min-width: 40px;
      background-color: white;
      color: #4CAF50;
      border: 0px;
    }
    .button-tab:hover {
      background-color: #4CAF50;
      color: white;
    }

    label {
      margin-right: 0px;
      display: inline-block;
    }

    .button-gui {
      font-family: 'Roboto Mono', monospace;
      background-color: white;
      color: #4CAF50;
      border: 2px solid #4CAF50;
      min-width: 120px;
      height: 40px;
      margin: 5px;
      font-size: 15px;
      transition-duration: 0.2s;
      margin-bottom: 15px;
      border-radius: 5px;
    }
    .button-gui:hover {
      background-color: #4CAF50;
      color: white;
    }
    input[type="range"] {
      width: 300px;
    }

    .div-drop-box{
      background-color: #E5E5E5;
      height: 100px;
      width: 150px;
      text-align: center;
      padding-top: 60px;
      border-radius: 5px;
    }
  }
}

#button-help {
  font-family: 'Roboto Mono', monospace;
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
  margin: 5px;
  font-size: 15px;
  transition-duration: 0.2s;
  margin-bottom: 15px;
  border-radius: 50px;
  min-width: 50px;
  height: 50px;
  border-color: #E5E5E5;
  outline: none;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 100;
}
#button-help:hover {
  background-color: #ffffff;
  color: #4CAF50;
  box-shadow: 0px 0px 15px #c2c2c2;
  cursor: pointer;
}
#div-help {
  display: none;
  background-color: #ffffff;
  border-radius: 5px;
  width: 400px;
  float: right;
  position: relative;
  top: 90px;
  right: 25px;
  box-shadow: 0px 0px 15px #c2c2c2;
  padding: 10px;
  z-index: 100;
  li {
    padding: 5px;
  }
  kbd.key {
    border-radius: 3px;
    border: 1px solid black;
    padding: 2px;
  }
}

#div-traffic {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 400px;
  height: 400px;
  display: grid;
}
#div-table-traffic {
  position: absolute;
  top: 0px;
  right: 0px;
  table-layout: fixed;
}
